.board-container {
  text-align: center;
  padding: 20px;
}

.game-board {
  display: inline-block;
  margin-top: 20px;
  position: relative;
  background-color: #0066cc; /* azul do tabuleiro */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0004;
}

.board-row {
  display: flex;
}

.cell {
  width: 64px;
  height: 64px;
  margin: 1px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.2s ease;
  box-shadow: inset 0 0 5px #0005;
  cursor: pointer;
}
.cell.R {
  background-color: red;
}

.cell.Y {
  background-color: yellow;
}

.cell.highlight {
  outline: 3px solid #ffffff88;
  outline-offset: -2px;
}

.indicator {
  position: absolute;
  top: -70px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transition: left 0.1s ease;
  z-index: 2;
}

.indicator.R {
  background-color: red;
}

.indicator.Y {
  background-color: yellow;
}

.homeButton{
  background: #667eea;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    width: 20%;
    margin: 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

  .homeButton:hover {
    background: #564db0;
  }

  .restartButton{
  background: #667eea;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    width: 20%;
    margin: 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

  .restartButton:hover {
    background: #564db0;
  }

